[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
	shallow = true
[submodule "third-party/arrow"]
	path = third-party/arrow
	url = https://github.com/apache/arrow.git
	shallow = true
[submodule "third-party/avro"]
	path = third-party/avro
	url = https://github.com/apache/avro.git
	shallow = true
[submodule "third-party/orc"]
	path = third-party/orc
	url = https://github.com/apache/orc.git
	shallow = true
[submodule "third-party/utf8proc"]
	path = third-party/utf8proc
	url = https://github.com/JuliaStrings/utf8proc
	shallow = true
